.hero {
  width: 100vw;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lottie {
  width: 50vw;
  position: sticky;
}

.center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
