@font-face {
  font-family: Dosis;
  src: url(/Res/Font/Dosis-VariableFont_wght.ttf);
}

li .active {
  color: #00b8ff !important;
}

.invisible {
  visibility: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Dosis;
  height: 500vh;
  /* background-color: #eee !important; */
}

h1 {
  color: #eee;
}

.logo {
  width: 100px;
  margin-left: 2rem;
}
.navbar {
  z-index: 10;
}

.nav-item {
  /* font-family: Dosis; */
  font-size: 30px !important;
}

.brandName {
  font-family: Dosis;
  font-size: 30px !important;
  font-weight: bolder;
  letter-spacing: 5px;
  padding-right: 20px;
  color: #1b262c !important; /**/
}
.brandName.mobile {
  display: none;
}

.menu-btn {
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  z-index: 10;
  /* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: #1b262c; /*#00719c*/
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.2s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: #1b262c; /*#00719c*/
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.2s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.main-content {
  position: absolute;
  justify-content: center;
  width: 100%;
  top: 0;
  z-index: 15 !important;
  transform-origin: left;
  transform-style: preserve-3d;
}

.main-content.closing {
  animation: main-close 0.5s ease;
}

.navLinks {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navLinks.closed {
  display: none;
}

.navLinks ul {
  list-style: none;
}

.navLinks a {
  text-decoration: none;
  color: #00719c;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 1.5rem;
  letter-spacing: 3px;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  animation: appear 0.7s forwards ease;
}
.navLinks.mobile a {
  padding-right: 100vw;
}
.navLinks.mobile {
  background-color: rgba(0, 31, 43, 0.8);
  padding-left: 100vw;
}

.navLinks a:hover {
  color: #00b8ff;
}

.container.active .links a {
  animation: hide 0.5s forwards ease var(--i);
}

.main-content.open {
  animation: main-animation 0.5s ease;
  transform: perspective(1300px) rotateY(20deg) translateZ(300px) scale(0.5);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }
  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(300px) scale(0.5);
  }
}
@keyframes main-close {
  from {
    transform: perspective(1300px) rotateY(20deg) translateZ(300px) scale(0.5);
  }
  to {
    transform: translate(0);
  }
}
.textWhite {
  color: #eee;
}

.textCenter {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: 900;
}

.textSpaced {
  letter-spacing: 2px;
}

.textStroke {
  text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}

.textBlackBorder {
  border: black solid 1px;
}
